<!DOCTYPE html>
<html>
	<head> <title> Forms </title> </head>
	<body>
		<h1> HTML Forms </h1>
		<form>
			<fieldset>
				<legend> Login Here </legend>
					<table>
					<tr>
						<th> <label> Username </label> </td>
						<td>
							<input type="text"/>
						</td>
					</tr>
					<tr>
						<th> <label> Password </label> </td>
						<td>
							<input type="password"/>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" />
							<input type="reset" />
						</td>
					</tr>
					</table>
			</fieldset>
		</form>
	</body>
</html>
