<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css level 1 </title>
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">  
    
</head>
<body><center>
    <h1 style="color: green"> Its a css level 1 content related to adding color to the text </h1>
    <p> applying color to paragraph
        cmvnfvnmcx fddpogjnf
        fjnvdcjidlvnra.ese0rmcrp
        oeijfmcnvnpv49tjfnmvqpe9orfijvm
        dkv ndcivhcmvnr9ugnfdkvjerfmdfoipv
        lvkedjhfr9eujdpeutdekomcvrq[peit9uivmvdhjbfgireghlqrughfjvjkjhfdsuhdshvbeuigdvbduihefndifhuefndhfvyegfhejbdffdbgdfuvhbdnvbdlhvdfbvherq98weru489ru498rueytfuhedjgfbr,asdkufhbv ecirygfbcjdhfdjncmdscweouf8erfhdjfgdtyufhweifdjhfdscnbxm xnvxc vgrBVCXdfghjiyfdrtyhiytfdszx nmjhgfdftyhjhb
    </p>
    <button> click here  </button>

    </center>
</body>
</html>