<!DOCTYPE html>
<html>




	<head>
		<title> Style Sheets </title>
		<style>
			body
			{
				background-color:orange;
			}
			h1
			{
				color:whitesmoke;
			}
		</style>
	</head>




	<body><center>
		<h1>CSS Style Sheet </h1>
		<p>ksjdhfdnfghnvf sfkncbvsjlkcnvlskfjcnbv slifkjnvb</p><p>jhdfvnajdskfgnvuijdncv ajdghvnfijadkcnv ajfbvc ajdbvnadbfvdfbvdjvbn djncvb ajhdbvnajdcvbn aldkjxfhcNadjxbv ndmxfvhfbcvn j3weoiruhr nljkfndlsnsxcewdufhbceuwurhfweurepovnpruqgrvburhryrqe9pfndevbhergfrbnvfvruifjnrghurqw98roiwerujfnvbnmaoieurybnjkwi34ryhfcbhryueiwskzmxncfirewki3uryfgbnxskiu7yrtgfbcnxkow2938euhfryworyujsnxaqoi8wuq9</p>
		<h1>CSS Style Sheet </h1>
		</center>
	</body>





</html>





