<html>
	<head>
		<title> Selectors </title>
		<style>
			h1
			{
				color:red;
			}
			#one:hover
			{
				color: blue;
			}
			.abc:hover
			{
				cursor:pointer;
				color:limegreen;
			}
			h2::first-letter
			{
				color:blue;
			}
			h3::selection
			{
				background-color:yellow;
				color:red;
			}
		</style>
	</head>
	<body>
		<h1 class="abc"> Virat kohli </h1>
		<h1 id="one"> virat kohli</h1>
		<h1 class="abc">Virat kohli</h1>

		<h2> rohit </h2>
		<h2> rohit </h2>
		<h2> rohit </h2>
		
		<h3> SEETHA RAM</h3>
	</body>
</html>