<!DOCTYPE html>
<html>
	<head> <title>Table creation </title> </head>
		<h1> Table Creation </h1>
		<table border="5px" cellpadding="5px" cellspacing="5px">
	    <thead>
			<tr>
				<th> EMPID </th>
				<th> EMPNAME </th>
				<th> EMPDESG </th>
				<th> EMPSAL </th>
				<th> EMPSAL2 </th>
				<th> EMPORG </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> JSP101 </td>
				<td> Hemani K </td>
				<td rowspan="2">Python full stack </td>
				<td rowspan="4" colspan="2" align="center">50000</td>
				<td rowspan="2"> JSpiders </td>
			</tr>
			<tr>
				<td> JSP103 </td>
				<td> Shafi M </td>	
				
				

			</tr>
			<tr>
				<td> JSP103 </td>
				<td> Shahul Smd </td>
				<td rowspan="2"> Testing </td>
				
				<td rowspan="2"> Saag tech </td>
			</tr>
			<tr>
				<td> JSP104 </td>
				<td> Charan P </td>
				
			
			</tr>
		</tbody>
	</table>
</html>